%h1 Listing tasklists
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @tasklists.each do |tasklist|
    %tr
      %td= tasklist.name
      %td= link_to 'Show', tasklist
      %td= link_to 'Edit', edit_tasklist_path(tasklist)
      %td= link_to 'Destroy', tasklist, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Tasklist', new_tasklist_path
