<h3>Listing tasks</h3>

<table class=todo_table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
	<%# if can? :update,  @task %>
      <td><%= task.name %></td>
      <td style="display:none;"><%= task.status %></td>
      <td style="display:none;"><%= link_to 'Show', task %></td>
      <td style="isplay:none;"><%=  task.tasklist.try(:name) %></td>
      <td><%= link_to 'Edit', edit_task_path(task), class: 'button' %></td>
      <td><%= link_to 'Delete', task, method: :delete, class: 'button red' %></td>
	 <%# end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path, class: 'button' %>
