%h3 Listing tasks
%table.todo_table
  %tr
    %th
    %th
    %th
    %th
    %th
  - current_user.tasks.each do |task|
    %tr
      %td= task.name
      %td{:style => "display:none;"}= task.status
      %td{:style => "display:none;"}= link_to 'Show', task
      %td= task.tasklist.try(:name)
      %td= task.try(:user_id)
      %td
        - task.tags.map(&:name)
      %td
        = image_tag task.photo.url(:small)
      %td= link_to 'Edit', edit_task_path(task), class: 'button'
      %td= link_to 'Delete', task, method: :delete, class: 'button red'
%br/
= link_to 'New Task', new_task_path, class: 'button'
/= can? :read, @tasks.first